@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@layer base {
    body {
        @apply bg-gradient-to-br from-black via-gray-900 to-indigo-900 min-h-screen;
    }
}

@tailwind base;
@tailwind components;
@tailwind utilities;




body {
    font-family: 'Inter', sans-serif;
    color: #fff;
}