@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Inter', sans-serif;
    color: #fff;
    background-color: #0f0f0f;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.custom-scroll::-webkit-scrollbar {
    width: 8px;
}

.custom-scroll::-webkit-scrollbar-track {
    background: #202024;
}

.custom-scroll::-webkit-scrollbar-thumb {
    background: #3a3a3d;
    border-radius: 8px;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
    background: #505055;
}